.laptop_image {
  /* max-width: 300px;
  max-height: 300px; */
  width: 45vw;
  object-fit: contain;
}
/* 1100-900 17vw , above-18vw,900-760 16vw , 644-56 0    

*/
.laptop_carousel_images {
  /* width: 100px;
  height: 100px; */
  height: 16vw;
  object-fit: contain;
}

.laptop_carousel_images_div {
  position: absolute;
  top: 7vw;
  left: 9vw;
  width: 31vw;
}
.LaptopCarousel {
  position: relative;
}
.main_heading {
}
.break {
}
.main_description {
}
.section_1 {
  display: flex;
  justify-content: space-between;
  margin: 0px 5vw;
}
