.decoration {
  text-decoration: none;
  color: black;
}

.navlinks {
  text-decoration: none;
  color: black;
  background-color: inherit !important;
}
.decoration > span,
.decoration > span > a {
  border: unset;
}
.decoration:hover,
.decoration:hover > span > a {
  background-color: #25313c;
  color: white !important;
}
.decoration > span > a {
  z-index: 11;
}
.boxShadow {
  box-shadow: none !important;
}
.header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 45px 120px;
  position: relative;
  background: #ffffff;
}
.header_logo {
  height: 63px;
  width: 63px;
  border-radius: 12px;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .header_logo {
    justify-content: center;
  }
}
