.decoration {
  text-decoration: none;
  text-align: center;
  font-size: 28.4919px !important;
  line-height: 35px !important;
  color: #0a7dbd !important;
}
.width_100 {
  width: 100%;
}
.footer {
  margin-top: 20vh;
}

.tilted {
  position: relative;
  width: 100%;
  z-index: 11;
  padding: 20vh 0px;
}

.tilted:after {
  position: absolute;
  content: "";
  height: inherit;
  background: #eff7fe;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-3deg);
  z-index: -99;
  padding: 40vh auto !important;
}
.footer_logo_box {
  border: 0.37px grey #000000;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.12);
  margin-top: 15vh;
  padding: 40px 60px;
}
